body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    color: #333333;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    background-color: #f2f2f2;
    letter-spacing: normal;
}


a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0;
    box-shadow: 0 0 15px 5px rgba (0, 1, 1, .2)
}

.main-header {
    background-color: #ffffff;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}


.main-header-logo img {
    position: absolute;
    left: 50%;
    webkit-transform: translateX(-50%);
    ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}


.site-navigation {
    list-style: none;
}


ul.site-navigation {
    margin: 0;
    padding: 0;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.site-navigation li {
    width: 20%;
    margin: 0;
    padding: 0;
}

.site-navigation li:first-child {
    text-align: left;
    margin-left: 6%;
}

.site-navigation li:last-child {
    text-align: right;
    margin-right: 6%;
}

.site-navigation li:nth-child(2) {
    text-align: left;
    margin-right: auto;

}

.site-navigation li:nth-child(3) {
    text-align: right;
    margin-left: auto;

}

.site-navigation a {
    color: #000000;
    font-weight: bold;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:focus {
    color: #b2b2b2;
}

.site-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.current-page a {
    color: #766357;
}

.main-footer {
    background-color: #ffffff;
    opacity: 0.9;
}


.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 120px;
    text-align: center;
}


.sedona-visit {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    width: 400px;
}

.social-link {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding-left: 125px;
    padding-right: 125px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:focus,
.social-button:active {
    background-color: #5496bd;
}

.social-button:hover path {
    fill: #ffffff;
}

.social-button:active path {
    fill: #88b6d1;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.footer-logo {
    padding-left: 8px;
    color: #231f20;
}

.footer-logo:hover path,
.footer-logo:focus path {
    fill: #81b3d2;
}

.footer-logo:active path {
    fill-opacity: 0.3;
}


/* index */

.welcome-image {
    width: 1200px;
    height: 508px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7dacce;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-position: 50% 21%;
    text-align: center;
}

.welcome-image img {
    margin-top: 75px;
    margin-bottom: 23px;
}

.welcome-image::after {
    content: url("../img/shape-1.png");
    position: absolute;
    bottom: -6px;
    left: 0;
}

.annotation {
    background-color: #ffffff;

    padding-top: 58px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.annotation h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.04px;

    margin-top: 0;
    padding-bottom: 10px;
    width: 480px;
    padding-left: 360px;
}

.annotation p {
    line-height: 26px;
    letter-spacing: 0.06px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0;
}

.city-info {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.reasons1,
.reasons2 {
    margin: 0px;
    padding: 0px;
    display: flex;

    list-style: none;
    background-color: #81b3d2;
}

.reasons1::after {
    width: 800px;
    height: 256px;
    content: url(../img/town.jpg)
}

.reasons-item {
    color: #ffffff;
    text-align: center;
    width: 400px;
    padding: 45px 58px;
}

.advantages-list {
    margin: 0;
    padding: 0;

    min-height: 330px;

    list-style: none;
}

.advantages-list,
.features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.advantages-item {
    text-align: center;
    list-style: none;
    width: 300px;
}

.advantages-item h4 {
    font-size: 21px;
    line-height: 21px;
}


.reasons2::before {
    width: 800px;
    height: 256px;
    content: url(../img/bridge.jpg)
}

.features {
    background-color: #eeeeee;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 256px;
}

.feauters-item {
    width: 280px;
}


.features h3 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    margin: 0 auto;
    width: 135px;
}

.button {
    padding: 3px 10px;
    font: inherit;
    font-weight: 600;
}

.form {
    text-align: center;
    vertical-align: middle;

    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    position: relative;
}

.form h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #000000;

    padding-bottom: 5px;
    padding-top: 58px;
}

.form p {
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
}

.search-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #766357;

    min-width: 560px;
    margin-top: 48px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-button:hover,
.search-button:focus {
    background-color: #604e43;
}

.search-button:active {
    opacity: 0.3;

    background-color: #503e33;
}

.search-form {
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100%;
    padding-top: 55px;
    padding-left: 55px;
    padding-right: 56px;
    padding-bottom: 56px;
    -webkit-box-shadow: 0px 0px 35px 3px rgba(0, 1, 1, 0.2);
    box-shadow: 0px 0px 35px 3px rgba(0, 1, 1, 0.2);
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;

}

.search-form p {
    text-align: left;

    margin: 0;
    margin-bottom: 30px;
}

.search-form input[type="text"] {
    font: inherit;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #f2f2f2;

    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 38px;
}

.search-form input[type="text"]:not(.guest) {
    font-weight: 700;
    color: #000000;

    width: 90%;
    position: relative;
    padding-left: 12px;
}

.search-form input[type="text"]:hover {
    background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
    background-color: #ffffff;
    border-color: #e5e5e5;
}

.calendar {
    opacity: 0.3;
    position: absolute;
    left: 85%;
}

.calendar svg {
    display: block;
}

.calendar:hover {
    opacity: 1;
}

.calendar:active {
    fill: #81b3d2;
}

.guest {
    font: inherit;
    font-weight: 700;
    text-align: center;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 38px;
    width: 38px;
}

.minus,
.plus {
    font: inherit;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    color: #a9a9a9;

    background-color: #f2f2f2;

    border: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    width: 38px;
    height: 38px;
    padding-bottom: 3px;
    padding-left: 3px;
}

.plus {
    padding-top: 2px;
    padding-left: 0px;
}

.minus:hover,
.plus:hover,
.minus:focus,
.plus:focus {
    color: #000000;
}

.minus:active,
.plus:active {
    color: #81b3d2;
}

.search-item .child {
    min-width: 50px;
}

.search-item label {
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.041px;
    padding-right: 10px;
    min-width: 100px;
}

.submit-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    min-height: 58px;
    min-width: 457px;
}

.submit-button:hover,
.submit-button:focus {
    background-color: #669ec0;
}

.submit-button:active {
    color: #88b6d1;

    background-color: #5496bd;
}

.search-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.wrap-column-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 22px;
}

.wrap-column-index label {
    width: 93px;
}

.search-item .child {
    padding-right: 0px;
    padding-left: 0px;
    display: block;
    width: 64px;
}



/* catalog */

.site-navigation current-page {
    color: #766357;
}

.filters {
    padding: 28px 72px;
    background-image: url("../img/filter background.jpg");
    background-repeat: no-repeat;
    background-position: 0 -55px;
    color: #ffffff;
}

.filter {
    display: flex;
    flex-wrap: wrap;
}

.filter-form:first-child {
    width: 255px;
}

.filter-form:nth-child(2) {
    width: 280px;
    margin-right: 200px;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
}

.filters-legend {

    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-option {
    margin-top: 25px;
    padding-left: 40px;
}

.filter-option label {
    position: relative;

    display: block;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}


.filter-option label::before {
    content: "";

    position: absolute;
    left: -40px;

    width: 25px;
    height: 25px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input:checked + label::before {
    width: 27px;

    background-image: url("../img/checkbox-on.svg");
}

.filter-input:disabled + label::before {
    opacity: 0.3;
}

.filter-option input:focus,
.filter-option input:active {
    color: #6a6a6a;
}

.filter input {
    margin: 0;
    padding: 0;

    font: inherit;
    color: inherit;

    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
}


.filter-range {
    margin-left: auto;
    width: 318px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.price {
    position: relative;
    height: 36px;
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price .min-price,
.price .max-price {
    width: 90px;
    padding-left: 65px;
}

.price input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .color-scale {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.btn-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.btn-toggle-min {
    left: 0;
}

.btn-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.show {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.show:hover {
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}


.search-result {
    background-color: #ffffff;
}

.sort {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: 0;
    padding: 32px 72px;

    border-bottom: 1px solid #e5e5e5;
    list-style: none;
}


.found {
    font-family: inherit;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    margin-right: 45px;

}

.sort-by {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #000000;
    padding-right: 42px;
}

.sorted {
    margin: 0;
    padding: 0;
}

.by-price,
.by-type,
.by-raiting {
    margin: 0;
    padding-right: 32px;
    font-size: 12px;
    line-height: 18px;
}

.by-price a {
    color: #a3c7de;
}

.by-raiting a,
.by-type a {
    color: #b2b2b2;
    border-bottom: 1px dotted #81b3d2;
}

.btn-sorting:hover {
    color: #81b3d2;
}

.btn-sorting:active {
    color: #000000;
}

.sort-result-btn {
    font-size: 0;
    line-height: 10px;
    padding-left: 470px;
}

.sort-up {
    margin-right: 12px;
}

.sort-second-link:hover path,
.sort-second-link:focus path {
    fill: #cacaca;
    fill-opacity: 1;
}

.sort-second-link:active path,
.sort-second-link.active path {
    fill: #81b3d2;
    fill-opacity: 1;
}

.sort-up:hover path,
.sort-down:hover path {
    fill: #231f20;
}

.sort-up:active path,
.sort-down:active path {
    fill: #81b3d2;
    fill-opacity: 1;
}

.hotels-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.hotels-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
    width: 135px;
    height: 90px;
}

.info-wrapper {
    padding-bottom: 8px;
}

.hotel-description {

    padding: 0 0 0 30px;
    text-align: left;
}

.hotel-description h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 21px;
    line-height: 26px;
    color: #000;
}

.hotel-description h3:hover {
    color: #81b3d2;
}

.hotel-description h3:focus,
.hotel-description h3:active {
    color: #cacaca;
}

.info-wrapper b {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
}

.hotel-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    margin-left: 540px;

}

.stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
}

.stars span {
    display: block;
    width: 18px;
    min-height: 18px;
    margin: 0 0 0 6px;
    padding-bottom: 45px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
}

.rating {
    width: 110px;
    padding: 4px 0;

    text-align: center;

    background-color: #f2f2f2;
}


.btn-sorting {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.button-wrapper {
    display: flex;
}

.button-wrapper a {
    margin-right: 7px;
}

.button-info {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    background-color: #81b3d2;
    border: none;
}

.button-info:hover {
    background-color: #669ec0;
}

.button-info:focus,
.button-info:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.button-buy {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    background-color: #766357;
    border: none;
}

.button-buy:hover {
    background-color: #604e43;
}

.button-buy:focus,
.button-buy:active {
    color: #857871;
    background-color: #503e33;
}
