body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    color: #333333;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    background-color: #f2f2f2;
    letter-spacing: normal;
}


a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0;

}

.main-header {
    background-color: #ffffff;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}


.main-header-logo img {
    position: absolute;
    left: 50%;
    webkit-transform: translateX(-50%);
    ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}


.site-navigation {
    list-style: none;
}

ul.site-navigation {
    margin: 0;
    padding: 0;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.site-navigation li {
    width: 20%;
    margin: 0;
    padding: 0;
}

.site-navigation li:first-child {
    text-align: left;
    margin-left: 6%;
}

.site-navigation li:last-child {
    text-align: right;
    margin-right: 6%;
}

.site-navigation li:nth-child(2) {
    text-align: left;
    margin-right: auto;

}

.site-navigation li:nth-child(3) {
    text-align: right;
    margin-left: auto;

}

.site-navigation a {
    color: #000000;
    font-weight: bold;

}


.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #ffffff;
}



.main-footer {
    background-color: #ffffff;
    opacity: 0.9;
}


.footer-social {
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sedona-visit {
    text-align: center;
}

.social-link {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    min-height: 120px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 48px;
    background-color: #81b3d2;
}

.footer-copyright {
    width: 115px;
    height: 41px;

    font-size: 14px;
    line-height: 26px;

    margin: 0;
    padding: 0;
    text-align: center;
}


/* index */

.top-banner {
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.city-info {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.reasons1,
.reasons2 {
    margin: 0;
    padding: 0;
    display: flex;

    background-color: #81b3d2;
}

.reasons1::after {
    width: 800px;
    height: 256px;
    content: url(../img/town.jpg)
}

.reasons-item1 {
    color: #ffffff;
    text-align: center;

    width: 300px;
    min-height: 256px;
    padding: 0 50px;
}

.reasons-item2 {
    color: #ffffff;
    text-align: center;
    min-height: 256px;
}

.advantages-list {
    margin: 0;
    padding: 0;

    min-height: 330px;

    list-style: none;
}

.advantages-list,
.features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.advantages-item {
    text-align: center;
    list-style: none;
}

.advantages-item h4 {
    font-size: 21px;
    line-height: 21px;
}


.reasons2::before {
    width: 800px;
    height: 256px;
    content: url(../img/bridge.jpg)
}

.features {
    background-color: #eeeeee;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 256px;
}

.feauters-item {
    width: 280px;
}


.features h3 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}


.form {
    margin: 0;
    padding: 0;
    position: relative;
    color: #000000;
    background: #ffffff;
    font-size: 14px;
    line-height: 24px;

    margin-bottom: 40px;


    background: rgba(255, 45, 82, 0.2);
    box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

.form h2 {
    font-size: 30px;
    line-height: 36px;
    margin: 58px 0 0 0;
}

.form p {
    margin: 0px;
    padding: 35px 0 140px;
}

.form::after {
    height: 593px;
    content: url(../img/map.jpg)
}

.search-form {

    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    top: 205px;
    left: 50%;
    bottom: 78px;
    right: 50%;
    width: 568px;
    min-height: 480px;

    background: #ffffff;

}

.search-item {
    background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
    width: 458px;
    margin: 0;
    padding: 0;

}

.search-item label {
    display: block;
    margin-bottom: 9px;
    margin-left: 15px;
}

.button {
    padding: 3px 10px;
    font: inherit;
    font-weight: 600;
}

.search-button {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;

    width: 100%;

    background-color: #766357;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #604e43;
}


.form-button {
    font-size: 21px;
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;

    background-color: #81b3d2;
    border: none;
}

.form-button:hover,
.form-button:focus,
.form-button:active {
    background-color: #669ec0;
}







/* catalog */

.filters {
    padding: 28px 72px;
    background-image: url("../img/filter background.jpg");
    background-repeat: no-repeat;
    background-position: 0 -55px;
    color: #ffffff;
}

.filter {
    display: flex;
    flex-wrap: wrap;
}

.filter-form:first-child {
    width: 255px;
}

.filter-form:nth-child(2) {
    width: 280px;
    margin-right: 200px;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
}

.filters-legend {

    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-option {
    margin-top: 25px;
    padding-left: 40px;
}

.filter-option label {
    position: relative;

    display: block;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}


.filter-option label::before {
    content: "";

    position: absolute;
    left: -40px;

    width: 25px;
    height: 25px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input:checked + label::before {
    width: 27px;

    background-image: url("../img/checkbox-on.svg");
}

.filter-input:disabled + label::before {
    opacity: 0.3;
}

.filter input {
    margin: 0;
    padding: 0;

    font: inherit;
    color: inherit;

    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
}


.filter-range {
    margin-left: auto;
    width: 318px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.price {
    position: relative;
    height: 36px;
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price label {
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price .min-price,
.price .max-price {
    width: 90px;
    padding-left: 65px;
}

.price input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .color-scale {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.btn-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.btn-toggle-min {
    left: 0;
}

.btn-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.show {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.show:hover {
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}


.search-result {
    background-color: #ffffff;
}

.sort {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 518px;
    margin: 0;
    padding: 30px 72px;

    border-bottom: 1px solid #e5e5e5;
}

.found {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    padding-right: 45px;

    list-style: none;
}

.sort-by,
.by-price,
.by-type,
.by-raiting {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

.by-price a {
    color: #a3c7de;
}

.by-raiting a,
.by-type a {
    color: #b1b1b1;
    border-bottom: 1px dotted #81b3d2;
}

.btn-sorting:hover {
    color: #81b3d2;
}

.btn-sorting:active {
    color: #000000;
}

.sort-by {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.hotels-item {
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid grey;

}

.hotel-description {
    padding: 0 0 0 30px;
    text-align: left;
}

.hotel-description h3 {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 21px line-height: 26px;
}

.info-wrapper {
    padding-bottom: 20px;
}

.info-wrapper b {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
}

.hotel-rating {
    margin-left: auto;
    margin-right: 72px;
}

.btn-sorting {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.button-wrapper {
    display: flex;
}

.button-wrapper a {
    margin-right: 7px;
}

.button-info {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    background-color: #81b3d2;
    border: none;
}

.button-info:hover,
.button-info:focus,
.button-info:active {
    background-color: #669ec0;
}

.button-buy {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;

    background-color: #766357;
    border: none;
}

.button-buy:hover,
.button-buy:focus,
.button-buy:active {
    background-color: #604e43;
}
